name: Hello GitHub Actions

on:
    push:
        branches:
        - main

jobs:
    say_hello:
        runs-on: ubuntu-latest
        steps:
        - name: Exibir mensagem em log
          run: echo "GitHub Actions! Funcionando"